<div class="jumbotron" style="text-align:center;line-height:1.4;">

	<h1 style="text-align:center;font-weight:bold;color:#8d78dd;">Text 540-555-5555</h1>



	<h2 style="margin-bottom:100px;font-size:32px;font-weight:400;">order a meal or desert from <br>a neighbor or someone near you - no restaunts! </h2>

	

	

	<div style="margin:0; padding:0;width:100%;">
		<div style="margin:0 auto; width:1000px;">
			<h3 style="font-weight:700; font-size:32px;">How This Works</h3>
			<p style="font-weight:normal;line-height:1.4;font-size:22px;">You text what you want to eat. The <span style="color:#8d78dd;font-weight:bold;"> Over</span> team messages vetted hosts in your community to find out who is making food similar to what you want or is willing to eat or make something similar for the today. Once a match is found, we notify you and then collect a payment. The next step is to arrange a time and place to meet your host(ess) and get your meal... and you're done - that simple! </p>


		</div>
		<div class="background">
			<h3 style="font-weight:700; font-size:32px;">Background</h3>
			<p style="font-weight:normal;line-height:1.4;font-size:22px;">I've been self-employed for most of my adult life and naturally that means working long hours, as many other entrepreneurs know all too well. And I've always been athletic and health conscous but at least 5 out days in a week I would eat out order take-out because I would get home and keep working or use the time rest before the next day started. After years of this in different ventures, I thought... what if my neighbors preping my meals and I just paid them instead of 

			at work and going home to keep working or take care of important stuff, I found myself having to order takeout food most of the days in a week, probably 5 or of 7 days I would eat out. 
			</p>

		</div>

		<div class="questions">
			<h3 style="font-weight:700; font-size:32px;">Qs & As</h3>
			<h4 style="font-size:22;color:#222; text-transform:uppercase;">will my food be warm?</h4>
			<p style="font-weight:normal;line-height:1.4;font-size:22px;color:#666;">absolutely. Your host or hostess will package the meal in an approved  <span style="color:#8d78dd;font-weight:bold;"> Over</span> container that will keep your meal warm for a few hours</p> 

			<h4 style="font-size:22;color:#222; text-transform:uppercase;">How do i become a host or hostess? </h4>
			<p  style="font-weight:normal;line-height:1.4;font-size:22px;color:#666;">
				Email <a style="color:#3cc;" href="mailto:hosting@getoverlab.com">hosting@getoverlabs.com </a> and let us know why you wanna join and what experience do you have in the kitchen - please be specific!




			</p>

		</div>


	</div>
	<footer style="border-top:1px solid lightgray;padding:15px 0;">
		<div>Over is a service provided by Over Labs, Inc., based in Blacksburg, Virginia.</div><br>

		<div>
			<ul>
				<li style="display:block;">Over Labs, Inc.</li>
				<li style="display:block;">2200 Kraft Drive Suite 2525</li>
				<li style="display:block;">Blacksburg, VA 24060.</li>
			</ul>
		</div>

		<div >
			<ul style="display:block;">
				<h4>Get in touch</h4>
				<li style="display:block;"><a style="color:black;" href="mailto:hello@getoverlabs.com">Email us</a> </li>
				or
				<li style="display:block;"><a style="color:black;" href="/">Facebook</a></li>

			</ul>
		</div>
	</footer>
</div>
	