
<div class="container">
<div class="jumbotron">
	
	<h1>Get Delicious Desserts From Local Bakers </h1>
	<h2>9slices is a marketplace that connects dessert lovers like you with hundreds of local bakers for fresh and delicious treats.</h2>
	
<p>Click here to <%= link_to "sign up", "#",  class:"btn btn-primary btn-lg" %> for beta.</p>

