
<div class="jumbotron">
	
	<h1>Get Delicious Desserts From Local Bakers </h1>
	<h3>9slices is a marketplace that connects dessert lovers like you with hundreds of local bakers for fresh and delicious treats.</h3>

	<% if user_signed_in? %>
		#do something
	<% else %>

		<p> 
			<%= link_to "Log in", new_user_session_path,  class:"btn btn-primary btn-lg" %> or 
			<%= link_to "Sign up", new_user_registration_path,  class:"btn btn-primary btn-lg" %> for beta.
		</p>
	<% end %>
	
</div>
