
<div class="jumbotron center">
	
	<h1>Delicious Desserts</h1>
	<h3>We're a marketplace that connects dessert lovers bakers for fresh and delicious treats.</h3>

	<% if user_signed_in? %>
		#do something
	<% else %>

		<p> 
			<%= link_to "Log in", new_user_session_path,  class:"btn btn-default btn-lg" %> or 
			<%= link_to "Sign up", new_user_registration_path,  class:"btn btn-primary btn-lg" %> for beta.
		</p>
	<% end %>
	
</div>
