<div class="jumbotron">
 	<div class="container">
 	 <h1>How It Works!</h1>
 	 	<h5>We're creating a marketplace for people to enjoy homemade treats and deserts from local bakers, all made with organic products.</h5>
 	 	
		<h3>1. Create an account </h3>
		<h3>2. Choose from a large selection of delicious sweets or tell us what you want </h3>
		<h3>3. Tell us when and where to deliver </h3>
		<h3>That's it. Three easy steps. Join he movement! </h3>

  	<p><a class="btn btn-primary btn-lg" role="button">Sign up</a></p>
	</div>
</div>

